.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4e342e;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #ffca28;
}