
.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 3px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-text span {
    color: #ffca28;
    font-weight: bold;
}


.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #ffca28;
    color: #3e2723;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transform: all 0.3s ease;
}

.btn:hover {
    background: #ffb300;
    transform: translateY(-3px);
}