.about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-text a {
    text-align: center;
}

.about-img {
    flex: 1;
}

.about-img img {
    margin: 50px 0px;
    width: 100%;
    border-radius: 10px;
}

.section-title{
    margin: 0;
    font-size: 54px;
}
.secondary-btn {
    background: transparent;
    border: 2px solid #ffca28;
    color: #ffca28;
}

.secondary-btn:hover {
    background: #ffca28;
    color: #3e2723;
}

#about {
    margin-bottom: 30px;
}